<!DOCTYPE html>
<html >
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>
    <%= javascript_importmap_tags%>
    
  </head>

  <body data-controller="hamburger" class="min-h-screen bg-text-primary bg-opacity-[0.2]">
 
  <%= render 'layouts/navbar' %>
    
    <div class="sm:h-auto overflow-hidden sm:overflow-auto" data-action="click->hamburger#closeMenu">
      <% if user_signed_in?%>
        <div class="mt-14 text-center">
          <%= render 'shared/flashes' %>
        </div>
      <%else%>
        <div class="mt-14 text-center">
          <%= render 'shared/flashes' %>
        </div>
      <%end%>
       
      
      <%= yield %>
    </div>
  </body>
</html>
